:host {
  display: block;
  padding: var(--semiui-spacing-lg);
  color: var(--semiui-color-foreground);
  font-family: var(--semiui-typography-font-family);
}

section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--semiui-spacing-sm);
  margin-block-end: var(--semiui-spacing-lg);
}

h1,
h2 {
  color: var(--semiui-color-foreground);
}
