:host {
  display: contents;
}

.s-popover {
  position: fixed;
  z-index: 50;
  max-width: 20rem;
  box-sizing: border-box;
  padding: var(--semiui-comp-popover-padding-y) var(--semiui-comp-popover-padding-x);
  background: var(--semiui-comp-popover-background);
  color: var(--semiui-comp-popover-foreground);
  border: 1px solid var(--semiui-comp-popover-border);
  border-radius: var(--semiui-comp-popover-radius);
  box-shadow: var(--semiui-comp-popover-shadow);
  font-size: var(--semiui-typography-font-size-md);
  font-family: var(--semiui-typography-font-family);
}

.s-popover[data-arrow]::after {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--semiui-comp-popover-background);
  border: 1px solid var(--semiui-comp-popover-border);
}

.s-popover[data-arrow][data-placement='bottom']::after {
  top: -0.3rem;
  left: 50%;
  margin-left: -0.25rem;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg);
}

.s-popover[data-arrow][data-placement='top']::after {
  bottom: -0.3rem;
  left: 50%;
  margin-left: -0.25rem;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}

.s-popover[data-arrow][data-placement='left']::after {
  right: -0.3rem;
  top: 50%;
  margin-top: -0.25rem;
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
}

.s-popover[data-arrow][data-placement='right']::after {
  left: -0.3rem;
  top: 50%;
  margin-top: -0.25rem;
  border-top: none;
  border-right: none;
  transform: rotate(45deg);
}

@keyframes s-popover-enter {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.s-popover--enter {
  animation: s-popover-enter 0.12s ease-out;
}

@keyframes s-popover-leave {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.96);
  }
}

.s-popover--leave {
  animation: s-popover-leave 0.1s ease-in;
}
