<div class="s-input-number" [attr.data-buttons]="buttons()">
  @if (showButtons() && buttons() === 'horizontal') {
    <button
      type="button"
      class="s-input-number__step s-input-number__step--decrement"
      tabindex="-1"
      aria-label="Decrement"
      [disabled]="effectiveDisabled() || atMin()"
      (click)="decrement()"
    >
      <s-icon class="s-input-number__step-icon" [ref]="icons.minus" />
    </button>
  }
  @if (prefix()) {
    <span class="s-input-number__affix">{{ prefix() }}</span>
  }
  <input
    #nativeInput
    sInput
    type="text"
    inputmode="decimal"
    class="s-input-number__input"
    [placeholder]="placeholder()"
    [value]="displayValue()"
    [disabled]="effectiveDisabled()"
    [invalid]="effectiveInvalid()"
    [attr.autocomplete]="disableAutocomplete() ? 'off' : null"
    (input)="onInput($any($event.target).value)"
    (keydown)="onKeydown($event)"
    (blur)="onBlur()"
  />
  @if (suffix()) {
    <span class="s-input-number__affix">{{ suffix() }}</span>
  }
  @if (showButtons()) {
    @if (buttons() === 'horizontal') {
      <button
        type="button"
        class="s-input-number__step s-input-number__step--increment"
        tabindex="-1"
        aria-label="Increment"
        [disabled]="effectiveDisabled() || atMax()"
        (click)="increment()"
      >
        <s-icon class="s-input-number__step-icon" [ref]="icons.plus" />
      </button>
    } @else {
      <span class="s-input-number__buttons">
        <button
          type="button"
          class="s-input-number__button"
          tabindex="-1"
          aria-label="Increment"
          [disabled]="effectiveDisabled() || atMax()"
          (click)="increment()"
        >
          <s-icon class="s-input-number__button-icon s-input-number__button-icon--up" [ref]="icons.chevronDown" />
        </button>
        <button
          type="button"
          class="s-input-number__button"
          tabindex="-1"
          aria-label="Decrement"
          [disabled]="effectiveDisabled() || atMin()"
          (click)="decrement()"
        >
          <s-icon class="s-input-number__button-icon" [ref]="icons.chevronDown" />
        </button>
      </span>
    }
  }
</div>
@if (effectiveInvalid()) {
  <s-error-message [message]="errorMessage()" />
}
