<div class="s-radio-group" [attr.data-direction]="direction()">
  @for (option of options(); track $index; let i = $index) {
    <label class="s-radio">
      <input
        type="radio"
        class="s-radio__input"
        [attr.data-size]="size()"
        [name]="groupName"
        [checked]="isSelected(option)"
        [attr.aria-invalid]="effectiveInvalid() ? 'true' : null"
        [disabled]="effectiveDisabled() || isOptionDisabled(option)"
        (change)="select(option)"
        (blur)="handleBlur()"
      />
      <span class="s-radio__dot" [attr.data-size]="size()"></span>
      <span class="s-radio__label">{{ labelFor(option) }}</span>
    </label>
  }
</div>
@if (effectiveInvalid()) {
  <s-error-message [message]="errorMessage()" />
}
