<span class="s-avatar">
  <span class="s-avatar__inner">
    @if (showImage()) {
      <img class="s-avatar__image" [src]="src()" [alt]="alt() || name()" (error)="onImageError()" />
    } @else if (initials()) {
      <span class="s-avatar__initials" [attr.aria-label]="name()">{{ initials() }}</span>
    } @else {
      <s-icon class="s-avatar__fallback-icon" [ref]="icons.avatarFallback" [attr.aria-label]="alt() || name()" />
    }
  </span>
  @if (status()) {
    <span class="s-avatar__status" [attr.data-status]="status()"></span>
  }
</span>
