<div class="s-toggle-group" role="group">
  @for (item of items(); track $index) {
    <button
      #segment
      type="button"
      class="s-toggle-group__item"
      [attr.aria-pressed]="isSelected(item)"
      [attr.aria-invalid]="effectiveInvalid() ? 'true' : null"
      [disabled]="effectiveDisabled() || item.disabled"
      (click)="toggleItem(item)"
    >
      @if (item.icon) {
        <s-icon class="s-toggle-group__icon" [ref]="item.icon" />
      }
      <span class="s-toggle-group__label">{{ item.label }}</span>
    </button>
  }
</div>
@if (effectiveInvalid()) {
  <s-error-message [message]="errorMessage()" />
}
