<button
  class="s-button"
  [class.s-button--loading]="loading()"
  sButton
  [disabled]="isDisabled()"
  [attr.aria-busy]="loading() ? 'true' : null"
  (pressed)="pressed.emit()"
>
  @if (loading()) {
    <s-icon class="s-button__icon s-button__icon--spin" [ref]="loadingIcon()" />
  }
  @if (showLeadingIcon()) {
    <s-icon class="s-button__icon" [ref]="iconLeading()!" />
  }
  @if (!icon()) {
    <span class="s-button__label"><ng-content /></span>
  }
  @if (showTrailingIcon()) {
    <s-icon class="s-button__icon" [ref]="iconTrailing()!" />
  }
</button>
