<ng-template #pickerContent>
  <div
    #svArea
    class="z-color-picker__sv-area"
    [style.background-color]="hueColor()"
    (pointerdown)="onSvPointerDown($event)"
    (pointermove)="onSvPointerMove($event)"
    (pointerup)="onSvPointerUp()"
    (pointercancel)="onSvPointerUp()"
  >
    <div
      class="z-color-picker__sv-thumb"
      [style.left.%]="hsv().s"
      [style.top.%]="100 - hsv().v"
      [style.background-color]="thumbColor()"
    ></div>
  </div>

  <div #hueTrack class="z-color-picker__hue-track" (pointerdown)="onHuePointerDown($event)" (pointermove)="onHuePointerMove($event)" (pointerup)="onHuePointerUp()" (pointercancel)="onHuePointerUp()">
    <div class="z-color-picker__hue-thumb" [style.left.%]="(hsv().h / 360) * 100" [style.background-color]="hueColor()"></div>
  </div>

  <div class="z-color-picker__hex-row">
    <span class="z-color-picker__hex-prefix">#</span>
    <input
      #hexInputEl
      type="text"
      class="z-color-picker__hex-input"
      spellcheck="false"
      maxlength="7"
      [value]="hexInputDisplay()"
      (input)="onHexInputChange('#' + $any($event.target).value)"
      (blur)="onHexInputCommit()"
      (keydown.enter)="onHexInputCommit()"
    />
  </div>

  @if (presets().length > 0) {
    <div class="z-color-picker__presets">
      @for (preset of presets(); track preset) {
        <button
          type="button"
          class="z-color-picker__preset"
          [style.background-color]="preset"
          [attr.aria-label]="'Select color ' + preset"
          [attr.data-selected]="value() === preset ? '' : null"
          (click)="selectPreset(preset)"
        ></button>
      }
    </div>
  }
</ng-template>

@if (inline()) {
  <div class="z-color-picker__inline-panel">
    <ng-container [ngTemplateOutlet]="pickerContent" />
  </div>
} @else {
  <button
    #triggerButton
    type="button"
    class="z-color-picker__trigger"
    [attr.aria-expanded]="open()"
    [attr.aria-invalid]="effectiveInvalid() ? 'true' : null"
    [disabled]="effectiveDisabled()"
    (click)="toggle()"
  >
    <span class="z-color-picker__swatch" [style.background-color]="value() ?? 'transparent'"></span>
    <span class="z-color-picker__value-text">
      @if (value()) {
        {{ value() }}
      } @else {
        <span class="z-color-picker__placeholder">{{ placeholder() }}</span>
      }
    </span>
  </button>

  @if (open()) {
    <div class="z-color-picker__panel" [attr.data-placement]="panelPlacement()" animate.enter="z-color-picker__panel--enter" animate.leave="z-color-picker__panel--leave">
      <ng-container [ngTemplateOutlet]="pickerContent" />
    </div>
  }
}

@if (effectiveInvalid()) {
  <z-error-message [message]="errorMessage()" />
}
